@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /*outline: 1px dotted red;*/
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: #f0f0f0;
}

main {
  height: 100dvh;
  width: 100%;
  padding: 5vw 15vw;
}

.heading {
  text-align: center;
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
  text-transform: capitalize;
  color: #5a5a5a;
}

.tagline {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #5a5a5a;
}

.cat-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 2rem;
  transition: all 0.3s ease;
}

.vibes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.btn {
  padding: 1rem 0;
  width: 40%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1;
  text-transform: capitalize;
  color: #5a5a5a;
  border: 1px solid #a9a9a9;
  border-radius: 2rem;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: #ff4757;
  }
}

.vibe-chill {
  filter: sepia(0.5) contrast(0.8);
}

.vibe-chaos {
  filter: hue-rotate(90deg) saturate(5);
}

.vibe-chill {
  filter: grayscale(1) contrast(1.5);
}

.vibe-chill {
  filter: drop-shadow(0 0 10px gold);
  border: 5px solid gold;
}